
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    background: #0d0d0d; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 90%;
    max-width: 420px;
    background: #1a1a1a; 
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.15);
    border: 1px solid rgba(255,255,255,0.08);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111;
    padding: 8px;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.07);
}

.search input{
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.search input::placeholder{
    color: #aaa;
}

.search button{
    background: #00d4ff;
    border: none;
    padding: 10px 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.search button:hover{
    transform: scale(1.05);
    background: #00c2eb;
}

.search button img{
    width: 20px;
}

.weather-icon{
    width: 150px;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px rgba(0,255,255,0.4));
}

.temp{
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
}

.city{
    font-size: 32px;
    margin-top: -5px;
    color: #e1e1e1;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 10px;
}

.col{
    display: flex;
    align-items: center;
    gap: 12px;
}

.col img{
    width: 36px;
    filter: brightness(0) invert(1);
}

.col p{
    font-size: 16px;
}

.humidity, .wind{
    font-size: 22px;
    font-weight: 600;
}

.weather{
    display: none;
}

.error{
    margin-top: 5px;
    padding-top: 5px;
    font-weight: 400;
    display: none;
}